button {
  @apply text-black;
}

.twc-button:not(.flat) {
  background-color: var(--button-main-color);
}

.twc-button:hover {
  background-color: var(--button-hover-color);
}

.twc-button:active {
  background-color: var(--button-active-color);
}

.twc-button.flat {
  border-color: var(--button-border-color);
}

/* Dev style */
.twc-button.com-rigsomelight-devcards-base {
  background-color: inherit;
}
