.twc-table {
  @apply table rounded w-full;
}

.twc-table .table-row {
  border-color: var(--table-row-border-color);
}

.twc-table .table-row .table-cell {
  @apply pl-1;
}

.twc-table:not(.basic) > .table-row:first-child > div {
  background-color: var(--table-header-color);
}

.twc-table-stripe > div {
  background-color: var(--table-stripe-color);
}
