/* Example Theme
 * This is the theme used for the devcards cards. Define and include a CSS
 * theme like this to theme your Tailwind components. This theme contains all
 * available variables (and sometimes a few that aren't implemented yet, those
 * will be noted).
*/

:root {
  /* Color reset, basically. */
  --body-bg-color:   white;
  --body-text-color: black;

  /* Main Colors */
  --primary-color:   #38b2ac; /* teal-500, unimplemented */
  --secondary-color: #b83280; /* pink-700, unimplemented */

  /* Buttons */
  --button-main-color:   #e2e8f0; /* gray-300, non-flat only */
  --button-hover-color:  #cbd5e0; /* gray-400 */
  --button-active-color: #a0aec0; /* gray-500 */
  --button-border-color: #e2e8f0; /* gray-300, flat only */

  /* Table */
  --table-header-color:     #e2e8f0; /* gray-300 */
  --table-row-border-color: #e2e8f0; /* gray-300 */
  --table-stripe-color:     #f7fafc; /* gray-100 */
}
